{% extends "layouts/main.html" %}
{% block title %}Total Meal | Food management{% endblock title %}
{% load static %}
{% block content %}

{% comment %} side-nav {% endcomment %}
{% include "layouts/side_nav.html" %}

<section class="main_content dashboard_part">

    {% comment %} nav {% endcomment %}
    {% include "layouts/nav.html" %}

    <div class="main_content_iner">

        {% comment %} content {% endcomment %}
        <div class="container-fluid p-0">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="dashboard_header mb_50">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="dashboard_header_title">
                                    <h3>Total Meal</h3>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="dashboard_breadcam text-end">
                                    <p><a href="index.html">Dashboard</a> <i class="fas fa-caret-right"></i> total meal
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags != 'success' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% else %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="col-lg-12">
                    <div class="white_box mb_30">
                        <div class="box_header ">
                            <div class="main-title">
                                <h3 class="mb-0">My {{ this_month }} total meal</h3>
                            </div>
                        </div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Lunch</th>
                                    <th scope="col">Dinner</th>
                                    <th scope="col">Comments</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for daily_meal in this_month_meal %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ daily_meal.date }}</td>
                                    <td>
                                        {% if daily_meal.lunch %}
                                        <span class="badge rounded-pill bg-success">{{ daily_meal.lunch }}</span>
                                        {% elif daily_meal.lunch == 0 %}
                                        <span class="badge rounded-pill bg-danger">OFF</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if daily_meal.dinner > 0 %}
                                        <span class="badge rounded-pill bg-success">{{ daily_meal.dinner }}</span>
                                        {% elif daily_meal.dinner == 0 %}
                                        <span class="badge rounded-pill bg-danger">OFF</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ daily_meal.comment }}</td>
                                    <td>
                                        {% if daily_meal.dinner >= 0 %}
                                            {{ daily_meal.lunch|add:daily_meal.dinner }}
                                        {% else %}
                                            {{ daily_meal.lunch }}
                                        {% endif %}
                                    </td>

                                </tr>
                                {% endfor %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Total meal:</td>
                                    <td>{{ total_meal }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} footer {% endcomment %}
        {% include "layouts/footer.html" %}

    </div>

</section>

{% endblock content %}
